.inventory-drag-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: grid;
  background-color: #1e1f21;
  user-select: none;
}

.inventory-drag-wrapper .block-wrapper {
  width: 50px;
  height: 50px;
  border: 0.1px solid rgba(255, 255, 255, 0.281);
}

.inventory-drag-wrapper .block-wrapper .block {
  width: 50px;
  height: 50px;
  /* position: absolute; */
}

.inventory-drag-wrapper .block-wrapper .item-block {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
  border: 0.1px solid rgba(255, 255, 255, 1);
}

.inventory-drag-wrapper .inventory-blocks {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}
